<section>
    <%= render "shared/user", user: @user %>
    <hr>
    <article>
        <h2>Bio</h2>
        <p><%= @user.bio %></p>
        <hr>
        <ul>
          <% @user.latest_three_posts.each do |post|%>
            <li>
              <%= render "shared/post", post: post %>
            </li>
          <% end %>
        </ul>

        <%= link_to user_posts_path(@user) do %>
            <button>See all posts</button>
        <% end %>
    </article>
</section>