
<div class="flex gap-3">
    <% if user.photo %>
        <img src="<%= user.photo%>" alt= <%="#{user.name}-avatar"%> class="block w-[90px] h-20 rounded-full">
    <% end %>

    <div>
        <h3 class="name text-xl font-bold"><%= user.name %></h3>
        <span>Number of posts <%= user.posts_counter %></span>
    </div>
</div>
